@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $offWhite;

}

#container {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 120dvh;
    height: 70dvh;
    margin: auto;
    margin-top: 5dvh;
    border-radius: 10px 10px 100px 10px;

    @media screen and (max-width:480px) {
        height: auto;
        width: auto;
        flex-direction: column;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;

        @media screen and (max-width:480px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

        }

        .card {
            margin-left: 5vh;
            margin-top: 5vh;

            .res {
                font-family: 'Poppins', serif;
            }
        }

        .card label {
            display: block;
            margin-bottom: 5px;
            font-family: 'Poppins', serif;
        }

        .card input {
            height: 7dvh;
            width: 20dvh;
            border-radius: 1dvh;
        }

        .card input::placeholder {
            font-family: 'Poppins', serif;
            font-size: 1.25rem;
            padding-left: 2dvh;
        }
    }

    .card-button {
        margin-top: 2dvh;
        width: 10dvh;
        height: 10dvh;
        border-radius: 50%;
        border: none;
        color: $white;
        background-color: $purple;
        position: relative;
        left: 100dvh;
        cursor: pointer;

        @media screen and (max-width:480px) {
            position: relative;
            left: 30dvh;
        }
    }

    #results {
        display: flex;

        .numbers {
            margin-right: 2dvh;
            flex: 1;

            p {
                margin-left: 5dvh;
                font-size: 5rem;
                color: $purple;

                @media screen and (max-width:480px) {
                    font-size: 2.5rem;
                }
            }
        }

        .time {
            margin-right: 2dvh;
            flex: 5;

            p {
                font-size: 4rem;
                color: $offBlack;
                margin-right: 5dvh;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;

                @media screen and (max-width:480px) {
                    font-size: 2.5rem;
                }
            }
        }

    }
}